* {
    color: #394256;
    font-family: 'Padauk', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

/* Header begin */

.header {
    position: relative;
    height: 35rem;
    background: linear-gradient(45deg, #00f, #0022cc);
}

.cont-img-header {
    position: absolute;
    top: 20rem;
    width: 100%;
    margin: auto;
}

.cont-img {
    width: 30rem;
    height: 20rem;
    margin: auto;
    display: block;
    border: 0.4rem solid #fff;
    border-radius: 0.5rem;
}

/* Header Ends */

/* Title begins */
.title {
    margin-top: 10rem;
}

.title h1{
    font-size: 3.5rem;
    text-align: center;
}

.content {
    width: 80%;
    margin: auto;
}

/* content ends */

/* Footer */
.footer {
    position: relative;
    background-color: #f2f2f2;
    margin-top: 6rem
}

.footer-container{
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.footer-container li {
    list-style-type: none;
    display: inline-block;
    margin: 1.5rem;
    opacity: 0.7;
    font-size: 30px;
}
.footer-container li h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin: 0;
}

.logo {
    width: 50px;
}

.footer-container li img {
    width: 3rem;
}